.hero {
  padding: 12.875rem 1.5rem 6rem;
  min-height: calc(100vh - 7.5rem);
  &__heading {
    line-height: 3.0625rem;
    font-size: 2.4375rem;
    font-weight: var(--semibold);
    color: var(--white);
    margin-bottom: 0.875rem;
    &--special {
      color: var(--primary);
    }
  }
  &__description {
    color: var(--white-80);
    line-height: 1.75rem;
    margin-bottom: 1.5rem;
    font-size: 1.125rem;
  }
  &__links {
    display: flex;
    gap: 1rem;
    margin-bottom: 4rem;
  }
  &__visuals {
    width: 100%;
    background-color: var(--primary);
    height: 25rem;
    border-radius: 100%;
    opacity: 0.1;
    filter: blur(2rem);
  }
}

