.fixed {
  top: 4rem;
  z-index: 1;
  width: 100%;
  position: fixed;
  padding: 0.75rem 0.75rem 0;
}

.main-header {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  background-color: var(--grey);
  border-radius: var(--radius-full);
  transition: all 1s ease-in-out;
  filter: blur(0);
  &.close {
    filter: blur(1rem);
    transform: translateX(calc(-100% - 0.75rem));
  }
  &__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo-link {
    min-width: 5.375rem;
    display: flex;
    justify-content: center;
    height: 2.75rem;
    align-items: center;
  }
}
