@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sora:wght@100..800&display=swap');

:root {
  --primary: #10ea47;
  --primary-hover: #87F5A3;
  --white: #fff;
  --white-50: rgba(255, 255, 255, 0.5);
  --white-80: rgba(255, 255, 255, 0.8);
  --black: #1a1a1a;
  --grey: #333333;

  --radius-full: 99rem;

  --font-sm: 0.875rem;

  --normal: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;

  --transition: all 0.2s ease-out;

  --font-body:   "Inter", sans-serif;
  --font-primary: "Sora", sans-serif;
  --font-secondary:   "Finger Paint", sans-serif;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  font-family: inherit;
}

body {
  font-family: var(--font-body);
  font-size: 1rem;
  background-color: var(--black);
  color: var(--black);
  overflow: auto;
  &.no-scroll {
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}
